.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}

.active {
    border: #ebf8ff 1px solid;
    background: #ebf8ff;
    color:#3490dc;
    font-size: 0.5rem;
    padding:0.5rem;
    text-decoration: none;


   /* .border-t .border-b .border-l .border-blue-100 .px-3 .py-2 .bg-blue-100 .no-underline .text-blue-500 .text-sm; */

}
